@mixin add-border($size,$color,$position){
	@if $position == 'all'{
		border: $size  solid $color;
	} @else if $position == 'top'{
		border-top: $size solid $color;
	} @else if $position == 'bottom'{
		border-bottom: $size solid $color;
	}@else if $position == 'right'{
		border-right: $size solid $color;
	}@else if $position == 'left'{
		border-left: $size solid $color;
	}@else if $position == 'top-bottom'{
		border-top: $size solid $color;
		border-bottom: $size solid $color;
	}@else if $position == 'right-left'{
		border-left: $size solid $color;
		border-right: $size solid $color;
	}

}