.l-left-panel {
  width: 300px;
  height: calc(100% - 20px);
  max-height: 550px;
  display: block;
  position: absolute;

  overflow: hidden;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  background-color: #fff;
  z-index: 1;

  -webkit-transition: .3s ease-in-out;

  -o-transition: .3s ease-in-out;

  transition: .3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .l-left-panel {
    left: -300px !important;
  }
}

@media screen and (max-width: 768px) {
  .is-side-open .l-left-panel {
    left: 15px !important;
    width: 300px !important;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
}

.upper-left {
  padding-left: 15px;
  height: 60px;
  line-height: 60px;
  background-color: $color_main_grey;
  
  .fa{
    padding-right: 5px;
  }

  
}
.red{
    color: #ed5855;
  }
  .orange{
    color: #e7a747; 
  }
  .green{
    color: #32b34b;
  }




.contacts-container{
    padding-left: 0;
    width: 100%;
    list-style: none;
    height: calc(100% - 106px);
    overflow: auto;
    overflow-x: hidden; 
    position: absolute;
    width: 100%;
}

#search-contacts{
height: calc(100% - 160px);
}

.l-user {
  position: relative;
  width: 100%;
  padding: 15px 15px 10px 15px;
  cursor: pointer;
  opacity: 1;;
  left: 0;
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;

  &:hover{
    background-color: $color_main_grey;

  }
  .recent-user-time {
    margin-bottom: 0;
    position: absolute;
    top: 5px;
    right: 10px;

    text-align: right;
    font-size: 11.5px;
    color: #999;
  }
  .user-img {
    img {
      border-radius: 100px;
      width: 50px;
      height: 50px
    }
  }
  .user-name {
    padding-left: 10px;
    position: relative;
    width: calc(100% - 55px);

    h3 {
      font-size: 15px;
      margin-top: 5px;
      margin-bottom: 5px;
      font-weight: 600;
      color: #666;
    }
    p {
      font-size: 12.5px;
      overflow: hidden;
      width: 95%;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      position: absolute;
      display: block;
      color: #999;
    }
  }
}

.chat-tab-ul{
  background-color: $color_sec_grey;
  
  &.nav-justified>li>a {
    border: 0;
    border-radius: 0;
  }
   .fa{
    font-size: 24px;
    color: $color_text_main;
  }

  &.nav-justified>.active>a, &.nav-justified>.active>a:focus, &.nav-justified>.active>a:hover{
    border-radius: 0;
    border:0;
    background-color: $color_main_green;
    color: #fff;

    .fa{
      color: #fff;
    }
  }

 
}

.user-availability{
  position: absolute;
}

 .search-form{
    position: relative;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 0; 
    background-color: $color_sec_grey;
  }
  input{

    border: 1px solid #444;
    width: 100%;

    display: block;
  }
