

.msg-notification{
	position: absolute;
	top: 25px;
	right: 20px;
	height: 80px;
	width: 250px;
	background-color: #fff;
	border-radius: 8px;
	opacity: 0;
	z-index: 10;
	display: none;


	  -webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);

	

	.icon{
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		        transform: translateY(-50%);
		height: 50px;
		width: 50px;
		border-radius: 100px;
		background-color: $color_main_green;
		color: #fff;
		font-size: 30px;
		padding-left: 10px;
    padding-top: 4px;
    margin-left: 10px;
	}


}

.contact-notification{
	position: absolute;
	top: 20%;
	left: 70px;
	width: 170px;

		h3{
			font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #666;
		}

		p{
			font-size: 12.5px;
    overflow: hidden;
    width: 95%;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    position: absolute;
    display: block;
    color: #999;	
		}

}

.new-msg.l-user{

	
	h3{
		color:#444;
	}
	p{
		color: $color_main_green;
	}
	.recent-user-time{
		color: #999;
	}

}

.count-msg-box{
	background-color: #ed5855;
	color: #fff;
	width: 20px;
	height: 20px;
	position: absolute;
	z-index: 1;
	line-height: 20px;
	text-align: center;
	right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
	

	p{
		color: #fff !important;
		font-size: 13px !important;
		margin:0;
	}
}

.active-contact{
		background-color: $color_main_grey;
	h3{
		color: $color_main_green !important;
	}
}