
.l-clear-fix:after {
  content: "";
  display: table;
  clear: both; }
.header{
	height: 60px;
}


.wrapper {

    position: static;
    height: 100vh;
    max-height: 550px;
		display: block;
    max-width: 950px;
    width: 100%;
    margin: auto ;
		overflow:hidden;
    border-radius: 8px;
		margin-bottom: 20px;	

  -webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);
}

@media screen and (max-width: 768px) {
	.wrapper{
		height: calc(100vh - 80px);
	}
}