.right-side {
  margin-left: 300px;
  position: relative;
  width: auto;
  height: 100%;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: $color_main_grey;
}

@media screen and (max-width: 768px) {
  .right-side {
    margin-left: 0;
    position: relative;
  }
  .is-side-open .right-side {

    webkit-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}


.upper-right {

  width: 100%;
  height: 60px;
  padding: 0 15px;

  position: relative;

  line-height: 60px;

  background-color: #fff;
  border-top-right-radius: 8px;

  a {
    font-size: 24px;
    color: #949596;
    padding-right: 30px;
  }

  img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 40px;
    height: 40px;
    margin-right: 15px;

    border-radius: 100px;
  }
  p {
    font-size: 13px;
    margin: 0;
    font-weight: 600;
    color: #666;

    text-transform: uppercase;
  }
  .setting-icon {
    padding-right: 0;
  }
}

.chat-body{
  position: relative;
  height: calc(100% - 125px);
  padding-bottom: 10px;

  overflow: auto;
    overflow-x: hidden;
}

.l-chat {
  position: relative;
  height: auto;
  width: auto;
  padding: 10px 15px;
  max-width: 75%;
  margin-top: 10px;

  border-radius: 5px;
  p{
    margin: 0;
  }
}

.contact-msg .msg:first-of-type  .contact{
    margin-top: 20px;

    &:before{
 content: '';
    width: 0;
    height: 0;
    border-bottom: 15px solid #fff;
    border-right: 16px solid transparent;
    position: absolute;
    top: -13px;
    left: 0;
    border-top-left-radius: 9px;
    }
}

.contact {
  background-color: #fff;
  display: block;
  float: left;
  margin-left: 30px;

  color: #666;
 
}


.user-msg .msg:first-of-type  .user {
    margin-top: 20px;

    &:before{
 content: '';
    width: 0;
    height: 0;
    border-bottom: 15px solid #5dc3b5;
    border-right: 16px solid transparent;
    position: absolute;
    top: 14px;
    right: -15px;
    border-top-left-radius: 9px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    }
}

.user-msg{
    .msg {
  direction: rtl;
}
}
.user{
  background-color: $color_main_green;
  display: block;
  color: #fff;
    float: right;
  margin-right: 30px;
  direction: ltr;

}   


.msg {
  position: relative;

}

.msg-time{
    position: absolute;
    top: 50%;
    color: #999;
    font-size: 12px;
    margin-right: 15px;
    margin-left: 15px;
    display: none;
    line-height: 13px;
    height: 13px;
    direction: ltr;
}

@media screen and (max-width: 550px) {
  .msg-time{
        width: 100%;
    text-align: center;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
}

 .contact-msg .msg:last-of-type .msg-time,.user-msg .msg:last-of-type .msg-time{
   display: inline-block;
 }


.send-message{
  height: 65px;
  display: inline-block;  
  width: 100%;
  padding: 15px;
  background-color: $color_sec_grey;

  border-bottom-right-radius: 8px;



    .fa{
    color: #666;
    font-size: 26px;
    
  }

   .btn-default{
    background-color: $color_main_green;
    color: #fff;
    width: 60px;
    margin-left: 10px;
    border: 0;
  }
}

.upload-btn{
  padding: 4px;
  background-color: transparent;
  border-radius: 0;
  border: 0;


 
}

.send-message{
     .form-group {
   display: inline-block !important;
}


}
.write-msg{
  width: calc(100% - 110px);

  input{
    width: 100% !important;
    border: 0;
  }



}

.nav-justified > li {
    display: table-cell; 
    width: 1%
}

.form-control:focus input{
    border-color: rgb(93,195,181);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(93,195,181,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(93,195,181,.6);
}

.current-chat{
  display: none;
}

.current-chat-display{
  display: block;
}