body {
  overflow-x: hidden;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  min-height: 100%;
  background-color: #5dc3b5; }

.l-clear-fix:after {
  content: "";
  display: table;
  clear: both; }

.header {
  height: 60px; }

.wrapper {
  position: static;
  height: 100vh;
  max-height: 550px;
  display: block;
  max-width: 950px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.75); }

@media screen and (max-width: 768px) {
  .wrapper {
    height: calc(100vh - 80px); } }

.l-left-panel {
  width: 300px;
  height: calc(100% - 20px);
  max-height: 550px;
  display: block;
  position: absolute;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #fff;
  z-index: 1;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

@media screen and (max-width: 768px) {
  .l-left-panel {
    left: -300px !important; } }

@media screen and (max-width: 768px) {
  .is-side-open .l-left-panel {
    left: 15px !important;
    width: 300px !important;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; } }

.upper-left {
  padding-left: 15px;
  height: 60px;
  line-height: 60px;
  background-color: #f1f1f2; }
  .upper-left .fa {
    padding-right: 5px; }

.red {
  color: #ed5855; }

.orange {
  color: #e7a747; }

.green {
  color: #32b34b; }

.contacts-container {
  padding-left: 0;
  width: 100%;
  list-style: none;
  height: calc(100% - 106px);
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  width: 100%; }

#search-contacts {
  height: calc(100% - 160px); }

.l-user {
  position: relative;
  width: 100%;
  padding: 15px 15px 10px 15px;
  cursor: pointer;
  opacity: 1;
  left: 0;
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out; }
  .l-user:hover {
    background-color: #f1f1f2; }
  .l-user .recent-user-time {
    margin-bottom: 0;
    position: absolute;
    top: 5px;
    right: 10px;
    text-align: right;
    font-size: 11.5px;
    color: #999; }
  .l-user .user-img img {
    border-radius: 100px;
    width: 50px;
    height: 50px; }
  .l-user .user-name {
    padding-left: 10px;
    position: relative;
    width: calc(100% - 55px); }
    .l-user .user-name h3 {
      font-size: 15px;
      margin-top: 5px;
      margin-bottom: 5px;
      font-weight: 600;
      color: #666; }
    .l-user .user-name p {
      font-size: 12.5px;
      overflow: hidden;
      width: 95%;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      position: absolute;
      display: block;
      color: #999; }

.chat-tab-ul {
  background-color: #e6e7e8; }
  .chat-tab-ul.nav-justified > li > a {
    border: 0;
    border-radius: 0; }
  .chat-tab-ul .fa {
    font-size: 24px;
    color: #949596; }
  .chat-tab-ul.nav-justified > .active > a, .chat-tab-ul.nav-justified > .active > a:focus, .chat-tab-ul.nav-justified > .active > a:hover {
    border-radius: 0;
    border: 0;
    background-color: #5dc3b5;
    color: #fff; }
    .chat-tab-ul.nav-justified > .active > a .fa, .chat-tab-ul.nav-justified > .active > a:focus .fa, .chat-tab-ul.nav-justified > .active > a:hover .fa {
      color: #fff; }

.user-availability {
  position: absolute; }

.search-form {
  position: relative;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 0;
  background-color: #e6e7e8; }

input {
  border: 1px solid #444;
  width: 100%;
  display: block; }

.right-side {
  margin-left: 300px;
  position: relative;
  width: auto;
  height: 100%;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #f1f1f2; }

@media screen and (max-width: 768px) {
  .right-side {
    margin-left: 0;
    position: relative; }
  .is-side-open .right-side {
    webkit-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    transform: translateX(300px); } }

.upper-right {
  width: 100%;
  height: 60px;
  padding: 0 15px;
  position: relative;
  line-height: 60px;
  background-color: #fff;
  border-top-right-radius: 8px; }
  .upper-right a {
    font-size: 24px;
    color: #949596;
    padding-right: 30px; }
  .upper-right img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 100px; }
  .upper-right p {
    font-size: 13px;
    margin: 0;
    font-weight: 600;
    color: #666;
    text-transform: uppercase; }
  .upper-right .setting-icon {
    padding-right: 0; }

.chat-body {
  position: relative;
  height: calc(100% - 125px);
  padding-bottom: 10px;
  overflow: auto;
  overflow-x: hidden; }

.l-chat {
  position: relative;
  height: auto;
  width: auto;
  padding: 10px 15px;
  max-width: 75%;
  margin-top: 10px;
  border-radius: 5px; }
  .l-chat p {
    margin: 0; }

.contact-msg .msg:first-of-type .contact {
  margin-top: 20px; }
  .contact-msg .msg:first-of-type .contact:before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 15px solid #fff;
    border-right: 16px solid transparent;
    position: absolute;
    top: -13px;
    left: 0;
    border-top-left-radius: 9px; }

.contact {
  background-color: #fff;
  display: block;
  float: left;
  margin-left: 30px;
  color: #666; }

.user-msg .msg:first-of-type .user {
  margin-top: 20px; }
  .user-msg .msg:first-of-type .user:before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 15px solid #5dc3b5;
    border-right: 16px solid transparent;
    position: absolute;
    top: 14px;
    right: -15px;
    border-top-left-radius: 9px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }

.user-msg .msg {
  direction: rtl; }

.user {
  background-color: #5dc3b5;
  display: block;
  color: #fff;
  float: right;
  margin-right: 30px;
  direction: ltr; }

.msg {
  position: relative; }

.msg-time {
  position: absolute;
  top: 50%;
  color: #999;
  font-size: 12px;
  margin-right: 15px;
  margin-left: 15px;
  display: none;
  line-height: 13px;
  height: 13px;
  direction: ltr; }

@media screen and (max-width: 550px) {
  .msg-time {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px; } }

.contact-msg .msg:last-of-type .msg-time, .user-msg .msg:last-of-type .msg-time {
  display: inline-block; }

.send-message {
  height: 65px;
  display: inline-block;
  width: 100%;
  padding: 15px;
  background-color: #e6e7e8;
  border-bottom-right-radius: 8px; }
  .send-message .fa {
    color: #666;
    font-size: 26px; }
  .send-message .btn-default {
    background-color: #5dc3b5;
    color: #fff;
    width: 60px;
    margin-left: 10px;
    border: 0; }

.upload-btn {
  padding: 4px;
  background-color: transparent;
  border-radius: 0;
  border: 0; }

.send-message .form-group {
  display: inline-block !important; }

.write-msg {
  width: calc(100% - 110px); }
  .write-msg input {
    width: 100% !important;
    border: 0; }

.nav-justified > li {
  display: table-cell;
  width: 1%; }

.form-control:focus input {
  border-color: #5dc3b5;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(93, 195, 181, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(93, 195, 181, 0.6); }

.current-chat {
  display: none; }

.current-chat-display {
  display: block; }

.msg-notification {
  position: absolute;
  top: 25px;
  right: 20px;
  height: 80px;
  width: 250px;
  background-color: #fff;
  border-radius: 8px;
  opacity: 0;
  z-index: 10;
  display: none;
  -webkit-box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.75); }
  .msg-notification .icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: #5dc3b5;
    color: #fff;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 4px;
    margin-left: 10px; }

.contact-notification {
  position: absolute;
  top: 20%;
  left: 70px;
  width: 170px; }
  .contact-notification h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #666; }
  .contact-notification p {
    font-size: 12.5px;
    overflow: hidden;
    width: 95%;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    position: absolute;
    display: block;
    color: #999; }

.new-msg.l-user h3 {
  color: #444; }

.new-msg.l-user p {
  color: #5dc3b5; }

.new-msg.l-user .recent-user-time {
  color: #999; }

.count-msg-box {
  background-color: #ed5855;
  color: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1;
  line-height: 20px;
  text-align: center;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .count-msg-box p {
    color: #fff !important;
    font-size: 13px !important;
    margin: 0; }

.active-contact {
  background-color: #f1f1f2; }
  .active-contact h3 {
    color: #5dc3b5 !important; }
